[run]
branch = True
source = crud, dashboard, shared
omit =
    */tests/*
    */tests_system/*
    */venv/*
    */.venv/*
    */__pycache__/*
data_file = tests_system/reports/.coverage

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
